<footer>
    <div>
      <!-- Logos de redes sociales -->
      <img src="../assets/imagenes/facebook_logo.png" alt="Logo de Facebook" width="30px" height="30px">
      <img src="../assets/imagenes/twittter.png" alt="Logo de Twitter" width="60px" height="42px">
      <img src="../assets/imagenes/linkedin.png" alt="Logo de LinkedIn" width="40px" height="40px">
      <img src="../assets/imagenes/instagram.png" alt="Logo de Instagram" width="56px" height="56px">
  
  
    </div>
    <hr>
    <nav>
      <a href="/">Inicio</a>
      <a href="/departamentos">Departamentos</a>
      <a href="/sobre-nosotros">Sobre Nosotros</a>
      <a href="/contacto">Contacto</a>
    </nav>
    <hr>
    <div>
      <a href="/politica-privacidad">Política de Privacidad</a> | 
      <a href="/aviso-legal">Aviso Legal</a>
    </div>
    <div>
          <!-- Logo de la página web grande a la izquierda -->
          <a routerLink="/home" title="Ir a la página principal">
            <img src="../assets/imagenes/logo_empresa.png" alt="Logo de la página web" width="200px" height="100px">
          </a>
          
    </div>
  </footer>