<div class="login-box">
    <!-- Heading -->
    <h4 class="text-center mb-4">
        Cambio de Contraseña
    </h4>
    <!-- Subheading -->
    <p class="text-center text-muted mb-5">
        Introduzca su contraseña actual y la nueva contraseña.
    </p>
    <form #registerForm="ngForm" (ngSubmit)=" editarContrasena()">
        <div class="form_container">
            <div class="form_group">
                <label for="contraseña">Contraseña actual</label>
                <br>
                <input type="password" name="password" id="password" [(ngModel)]="formulario_data.password"
                    class="form_input" required minlength="6" pattern=".*[A-Z].*" placeholder="">
                <p></p>
                <span [hidden]="registerForm.controls['password'].valid || !registerForm.controls['password'].dirty">La
                    contraseña debe tener al menos 6 caracteres y una letra mayúscula</span>
            </div>
        </div>

        <div class="form_container">
            <div class="form_group">
                <label for="contraseña">Contraseña nueva</label>
                <br>
                <input type="password" name="newPassword" id="newPassword" [(ngModel)]="formulario_data.newPassword"
                    class="form_input" required minlength="6" pattern=".*[A-Z].*" placeholder="">
                <p></p>
                <span [hidden]="registerForm.controls['newPassword'].valid || !registerForm.controls['newPassword'].dirty">La
                    contraseña debe tener al menos 6 caracteres y una letra mayúscula</span>
            </div>
        </div>
        <input type="checkbox" id="recordarme-checkbox" class="recordarme-checkbox">
        <label for="recordarme-checkbox" class="recordarme-label">Recordarme</label>

        <h2><button type="submit" [disabled]="!registerForm.form.valid">Editar Perfil</button></h2>
    </form>
</div>