<div class="chat-container" *ngIf="showChatbot">
  <div class="header">
    <img class="chatbot-logo" src="../../assets/imagenes/chatbot.png" alt="Chatbot Logo">
    <span class="chatbot-text">Chatbot</span>
    <div class="status-container">
      <div class="status-circle"></div>
      <span class="status-text">Online</span>
    </div>
  </div>

  <!-- Mensajes del chat -->
  <div *ngIf="nombreIngresado && !mostrarBotonesPreguntas">
    <div *ngFor="let message of messages.slice().reverse()" class="message" [ngClass]="{'user': message.sender === 'user', 'bot': message.sender === 'bot'}">
      {{ message.content }}
    </div>
    <button class="dudas" (click)="mostrarPreguntasFrecuentes()">Dudas sobre la página web</button>
  </div>

  <!-- Campo de entrada para el nombre -->
  <div *ngIf="!nombreIngresado || mostrarBotonesPreguntas" class="nombre-input">
    <input *ngIf="!nombreIngresado" type="text" [(ngModel)]="nombre" placeholder="Escribe tu nombre">
    <button *ngIf="!nombreIngresado" class="send-button" (click)="ingresarNombre()"></button>
  </div>

  <!-- Preguntas frecuentes -->
  <div *ngIf="nombreIngresado && mostrarBotonesPreguntas" class="preguntas-frecuentes">
    <div *ngFor="let pregunta of preguntasFrecuentes">
      <div class="pregunta-respuesta">
        <p class="pregunta" (click)="toggleRespuesta(pregunta)">{{ pregunta.pregunta }}</p>
        <div class="respuesta" *ngIf="pregunta.seleccionada">{{ pregunta.respuesta }}</div>
      </div>
    </div>
  </div>
</div>
