.login-box {
    position: relative;
    width: 41%;
    height: auto;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 150px;
    display: inline-block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-top: 2px solid #00DDE8;
}

.estado {
    position: absolute;
    left: 10px;
    top: 10px;
}

.cerrar-formulario {
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: #555;
}

.cerrar-formulario::before,
.cerrar-formulario::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: black;
}

.cerrar-formulario::before {
    transform: rotate(45deg);
}

.cerrar-formulario::after {
    transform: rotate(-45deg);
}


.titulo {
    text-align: center;
    margin-bottom: 50px;
    /* Ajusta este valor según sea necesario para bajar el título */

    color: black;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    /* Agregamos posición relativa */
    top: 20px;
    /* Ajusta este valor según sea necesario para bajar el título */
}



.subtitulo {
    text-transform: none;
    font-size: 15px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.login-box form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    color: black;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 5px);
    padding: 10px;
    border: 1px solid #f3f1f1;
    background-color: #faf8f8;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    /* Transición suave del color del borde */
    
    /* Centrado horizontal */
    margin: 0 auto;
}


textarea {
    width: calc(100% - 5px);
    padding: 10px;
    border: 1px solid #f3f1f1;
    background-color: #faf8f8;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    /* Transición suave del color del borde */
    height: 150px;
    /* Ajusta la altura según lo necesites */
}

.login-box input[type="text"]:hover,
.login-box input[type="email"]:hover,
.login-box textarea:hover {
    border-color: #00DDE8;
    /* Cambiar el color del borde al hacer hover sobre el input */
}


button[type="submit"] {
    border-color: #00DDE8;
    border-width: 1.5px;
    color: black;
    cursor: pointer;
    width: calc(100% - 30px);
    height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #ffffff;
    transition: color 0.3s ease;
}

button[type="submit"]:disabled,
button[type="submit"]:disabled:hover {
    opacity: 0.6;
}

button[type="submit"]:hover {
    color: #00DDE8;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-in {
    animation: slideIn 1s ease forwards;
}

/* Animación para ocultar el formulario */
img {
    width: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilos para mensajes de error */
.text-danger {
    color: #dc3545; /* Color rojo */
    font-size: 0.875rem; /* Tamaño de fuente más pequeño */
    margin-top: 0.25rem; /* Margen superior */
}

/* Estilos para resaltar campos inválidos */
input:invalid,
textarea:invalid {
    border-color: #dc3545; /* Color de borde rojo */
}

/* Opcional: Estilos para resaltar campos inválidos al enfocar */
input:focus:invalid,
textarea:focus:invalid {
    border-color: #dc3545; /* Cambiar el color de borde al enfocar */
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); /* Agregar una sombra al enfocar */
}
