<div class="login-box" [ngClass]="{'mostrar': mostrarFormulario}">
  <!-- Estado -->
  <div class="estado" [ngClass]="{'activo': incidenciaEnviada}">Estado: {{ incidenciaEnviada ? 'Activo' : 'Sin Incidencias' }}</div>
  <!-- Botón para ocultar el formulario -->
  <button class="cerrar-formulario" (click)="toggleFormulario()" [disabled]="!mostrarFormulario"></button>
  <!-- Heading -->
  <h4 class="titulo">Abrir Incidencia de Ticket</h4>
  <form *ngIf="mostrarFormulario" class="slide-in" (ngSubmit)="enviarIncidencia()" #formulario="ngForm" enctype="multipart/form-data">
    <p class="subtitulo">Complete el siguiente formulario para abrir una incidencia de ticket.</p>
    <div class="form-group">
      <label for="correoElectronico">Correo Electrónico</label>
      <input type="email" name="email" id="email" [(ngModel)]="formulario_data.email" required>
      <p></p>
      <span [hidden]="formulario.controls['email'].valid || !formulario.controls['email'].dirty" class="text-danger">Por favor, introduzca un correo electrónico válido</span>
    </div>
    <div class="form-group">
      <label for="asunto">Asunto</label>
      <input type="text" name="asunto_reparacion" id="asunto_reparacion" [(ngModel)]="formulario_data.asunto_reparacion" required pattern="[A-Za-z0-9\s]{5,100}">
      <p></p>
      <span [hidden]="formulario.controls['asunto_reparacion'].valid || !formulario.controls['asunto_reparacion'].dirty" class="text-danger">El asunto debe tener entre 5 y 100 caracteres alfanuméricos</span>
    </div>
    <div class="form-group">
      <label for="mensaje">Mensaje</label>
      <textarea name="mensaje_reparacion" id="mensaje_reparacion" [(ngModel)]="formulario_data.mensaje_reparacion" required></textarea>
      <p></p>
      <span [hidden]="formulario.controls['mensaje_reparacion'].valid || !formulario.controls['mensaje_reparacion'].dirty" class="text-danger">Este campo es obligatorio</span>
    </div>
    <div class="form-group">
      <label for="imagen" style="display: block; text-align: left;">Adjuntar Imagen</label>
      <input type="file" name="imagen" id="imagen" accept="image/*" (change)="onFileSelected($event)" required>
      <span *ngIf="formulario.controls['imagen'].errors?.['required'] && formulario.controls['imagen'].touched" class="text-danger">Por favor, seleccione una imagen</span>
    </div>
    <button type="submit" [disabled]="!formulario.valid">Abrir Incidencia</button>
  </form>
  <!-- Mensaje de incidencia enviada -->
  <div class="caja-alargada" *ngIf="incidenciaEnviada">
    Incidencia enviada <img src="../../../assets/imagenes/correcto.png" alt="Incidencia enviada">
  </div>

  <div class="caja-alargada" *ngIf="!mostrarFormulario && !incidenciaEnviada">
    <button type="submit" (click)="toggleFormulario()">Abrir ticket</button>
  </div>
</div>
<div class="incidencias-container">
  <div *ngFor="let incidencia of incidencias" class="incidencia-container">
    <div class="incidencia-details">ID: {{ incidencia.id }}</div>
    <div class="incidencia-details">Asunto: {{ incidencia.asunto_reparacion }}</div>
    <div class="incidencia-details">Mensaje: {{ incidencia.mensaje_reparacion }}</div>
    <div class="incidencia-details">Estado: {{ incidencia.estado }}</div>
    <div class="incidencia-details">
      <!-- Agrega una clase 'dynamic-image' para identificar las imágenes cargadas dinámicamente -->
      Imagen:<br><img [src]="incidencia.imagen" alt="Imagen de la incidencia" class="incidencia-image dynamic-image">
    </div>
  </div>
</div>






