<div class="login-box">
    <!-- Heading -->
    <h4 class="text-center mb-4">
        Cambiar Contraseña
    </h4>
    <!-- Subheading -->
    <p class="text-center text-muted mb-5">
        Complete el siguiente formulario para recuperar la contraseña de su cuenta.</p>
    <form #loginForm="ngForm" (ngSubmit)="enviarResetpassword()">
        <label for="correo">Correo Electrónico</label>
        <br>
        <input type="email" name="email" id="email" [(ngModel)]="formulario_data.email" class="form_input" required
            email pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="">
        <input type="number" name="id" id="id" [(ngModel)]="formulario_data.id" class="form_input" required min="0" max="200"
             placeholder="">
        <p></p>
        <span [hidden]="loginForm.controls['email'].valid || !loginForm.controls['email'].dirty">Correo
            electrónico inválido</span>
        <span [hidden]="loginForm.controls['id'].valid || !loginForm.controls['id'].dirty">identificador
             inválido</span>

        <div class="form_container">
            <div class="form_group">
                <label for="contraseña">Contraseña</label>
                <br>
                <input type="password" name="password" id="password" [(ngModel)]="formulario_data.password"
                    class="form_input" required minlength="6" pattern=".*[A-Z].*" placeholder="">
                <p></p>
                <span [hidden]="loginForm.controls['password'].valid || !loginForm.controls['password'].dirty">La
                    contraseña debe tener al menos 6 caracteres y una letra mayúscula</span>
            </div>
        </div>

        <h2><button type="submit" [disabled]="!loginForm.form.valid">CANVIAR CONTRASEÑA</button></h2>
    </form>
</div>

