/* Estilos para el cuadro del título */
.title-box {
    background-color: #f0f0f0;
    /* Color de fondo del cuadro */
    padding: 20px;
    /* Espacio interno del cuadro */
    border-radius: 10px;
    /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra */
    margin-top: 150px;
    /* Espacio entre el título y el contenedor de incidencias */
}

/* Estilos para el título del historial de incidencias */
.incidencias-title {
    text-align: center;
    /* Centra el texto horizontalmente */
    margin: 0;
    /* Elimina el margen por defecto del título */
    font-size: 28px;
    /* Tamaño del texto */
    color: #333;
    /* Color del texto */
}

/* Estilo para el contenedor de los controles */
.control-container {
    margin-top: 20px;
    /* Espacio superior entre el título y los controles */
}

/* Estilo para las etiquetas */
label {
    display: block;
    /* Hace que las etiquetas se muestren en una línea separada */
    margin-bottom: 5px;
    /* Espacio inferior entre etiquetas y elementos de entrada */
    font-weight: bold;
    /* Texto en negrita */
}

/* Estilo para los elementos de entrada */
input[type="number"],
select {
    width: 15%;
    /* Ancho completo */
    padding: 8px;
    /* Espacio interno */
    border: 1px solid #ccc;
    /* Borde gris */
    border-radius: 5px;
    /* Borde redondeado */
    margin-bottom: 15px;
    /* Espacio inferior */
}

/* Estilo para el botón */
button {
    padding: 10px 20px;
    /* Espacio interno */
    background-color: #007bff;
    /* Color de fondo azul */
    color: #fff;
    /* Color de texto blanco */
    border: none;
    /* Sin borde */
    border-radius: 5px;
    /* Borde redondeado */
    cursor: pointer;
    /* Cursor al señalar */
}

/* Cambia el color del botón al pasar el cursor sobre él */
button:hover {
    background-color: #0056b3;
    /* Color de fondo azul oscuro */
}

/* Estilos adicionales para el título */
.title-box2 {
    background-color: #f0f0f0;
    /* Color de fondo del cuadro */
    padding: 20px;
    /* Espacio interno del cuadro */
    border-radius: 10px;
    /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra */
    margin-top: 20px;
    /* Espacio entre el título y el contenedor de incidencias */
}

/* Estilos para el título del estado de incidencias */
.incidencias-title2 {
    text-align: center;
    /* Centra el texto horizontalmente */
    margin: 0;
    /* Elimina el margen por defecto del título */
    font-size: 28px;
    /* Tamaño del texto */
    color: #333;
    /* Color del texto */
}

/* Contenedor principal de las incidencias */
.incidencias-container {
    display: flex;
    /* Utilizamos flexbox para controlar la disposición de los contenedores */
    flex-wrap: wrap;
    /* Permite que los contenedores se envuelvan si no caben en una sola fila */
    justify-content: flex-start;
    /* Alinea los contenedores a la izquierda */
}

/* Contenedor para cada incidencia */
.incidencia-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: calc(33.33% - 20px);
    /* Calculamos el ancho de cada contenedor para que queden 3 en una fila */
    margin-right: 20px;
    /* Añadimos un margen a la derecha para separar los contenedores */
}

/* Ajustamos los estilos para la imagen para mantener la proporción */
.incidencia-image {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}



/* Estilo para imágenes cargadas dinámicamente */
.dynamic-image {
    /* Ajusta el tamaño de la imagen según tus preferencias */
    width: 300px;
    /* Ancho */
    height: 300px;
    /* Altura ajustada automáticamente para mantener la proporción */
    /* Agrega otros estilos según sea necesario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Estilos adicionales para el título */
.title-box3 {
    background-color: #f0f0f0;
    /* Color de fondo del cuadro */
    padding: 20px;
    /* Espacio interno del cuadro */
    border-radius: 10px;
    /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra */
    margin-top: 20px;
    /* Espacio entre el título y el contenedor de incidencias */
}

/* Estilos para el título del estado de incidencias */
.incidencias-title3 {
    text-align: center;
    /* Centra el texto horizontalmente */
    margin: 0;
    /* Elimina el margen por defecto del título */
    font-size: 28px;
    /* Tamaño del texto */
    color: #333;
    /* Color del texto */
}
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 68, 68, 0.5); /* Color de fondo con opacidad */
    z-index: 9999; /* Asegura que esté encima de otros elementos */
  }
  .centered-content{
    position:absolute;
    top: 300px;
    left: 630px;
  }