.profile-container {
  max-width: 600px;
  margin: 150px auto;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
}

.profile-header h1 {
  margin: 10px 0;
  color: #333; /* Cambiar el color del título */
}

.profile-info {
  margin-top: 30px;
}

.profile-info h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #555; /* Cambiar el color del subtítulo */
}

.profile-info p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #777; /* Cambiar el color del texto */
}

.profile-info p strong {
  font-weight: bold;
  margin-right: 10px;
}

.change-link {
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  color: #00DDE8; /* Cambiar el color del enlace */
  font-size: 20px;
}

.change-link:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}
.guardar-btn {
  background-color: #00b5be;  /* Cambiar color de fondo */
  color: #fff; /* Cambiar color del texto */
  border: none; /* Eliminar borde */
  padding: 8px 16px; /* Añadir espacio interno */
  border-radius: 5px; /* Añadir bordes redondeados */
  cursor: pointer; /* Cambiar cursor al pasar por encima */
  margin-left: 10px; /* Añadir margen izquierdo */
}

.guardar-btn:hover {
  background-color: #00DDE8; /* Cambiar color de fondo al pasar el mouse */
}
