<div class="profile-container">
    <div class="profile-header">
        <h1>Perfil de Usuario</h1>
    </div>
    <div class="profile-info">
        <h2>Información Personal</h2>
        <div>
            <p>
                <strong>Nombre:</strong>
                <span *ngIf="!editandoNombre; else inputNombre">{{ nombre }}</span>
                <ng-template #inputNombre>
                    <input type="text" [(ngModel)]="nombre">
                </ng-template>
                <span *ngIf="!editandoNombre" class="edit-arrow" (click)="toggleEdit('nombre')">&#9654;</span>
            </p>
        </div>
        <div>
            <p>
                <strong>Apellidos:</strong>
                <span *ngIf="!editandoApellidos; else inputApellidos">{{ apellidos }}</span>
                <ng-template #inputApellidos>
                    <input type="text" [(ngModel)]="apellidos">
                </ng-template>
                <span *ngIf="!editandoApellidos" class="edit-arrow" (click)="toggleEdit('apellidos')">&#9654;</span>
            </p>
        </div>
        <p><strong>Correo Electrónico:</strong> {{ email }}</p>
        <p><strong>Contraseña:</strong> *********</p>
        <p></p><button *ngIf="editandoNombre || editandoApellidos" class="guardar-btn" (click)="guardarCambios()">Guardar Cambios</button>

        <p></p><a routerLink="/edit/password" class="change-link">Cambiar contraseña</a>
    </div>
</div>
