<div class="edit-profile-container">
    <h2>Editar Perfil</h2>
    <form action="#" name="editarPerfilForm" method="post">
        <div class="form-group">
            <label for="correo">Correo Electrónico:</label>
            <input type="email" id="email" name="email"  [(ngModel)]="formulario_data.email" required >
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="formulario_data.nombre" required>
        </div>
        <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" [(ngModel)]="formulario_data.apellidos" required>
        </div>
        <div class="form-group">
            <label for="contraseña">Contraseña:</label>
            <input type="password" id="password" name="password" [(ngModel)]="formulario_data.password" required>
        </div>
        <button type="button" (click)="enviarEditarPerfil()">Guardar Cambios</button>

        <!-- <button type="button" (click)="cerrarSesion()">Cerrar Sesión</button> Botón para cerrar sesión -->

    </form>
</div>
