.login-box {
  position: relative;
  width: 41%;
  height: auto;
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  margin-top: 150px;
  display: inline-block;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-top: 2px solid #00DDE8;
}

.estado {
  position: absolute;
  left: 10px;
  top: 10px;
}

.cerrar-formulario {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}

.cerrar-formulario::before,
.cerrar-formulario::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: black;
}

.cerrar-formulario::before {
  transform: rotate(45deg);
}

.cerrar-formulario::after {
  transform: rotate(-45deg);
}


.titulo {
  text-align: center;
  margin-bottom: 50px;
  /* Ajusta este valor según sea necesario para bajar el título */

  color: black;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  /* Agregamos posición relativa */
  top: 20px;
  /* Ajusta este valor según sea necesario para bajar el título */
}



.subtitulo {
  text-transform: none;
  font-size: 15px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.login-box form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  color: black;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}

input[type="text"],
input[type="email"] {
  width: calc(100% - 5px);
  padding: 10px;
  border: 1px solid #f3f1f1;
  background-color: #faf8f8;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  /* Transición suave del color del borde */

  /* Centrado horizontal */
  margin: 0 auto;
}


textarea {
  width: calc(100% - 5px);
  padding: 10px;
  border: 1px solid #f3f1f1;
  background-color: #faf8f8;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  /* Transición suave del color del borde */
  height: 150px;
  /* Ajusta la altura según lo necesites */
}

.login-box input[type="text"]:hover,
.login-box input[type="email"]:hover,
.login-box textarea:hover {
  border-color: #00DDE8;
  /* Cambiar el color del borde al hacer hover sobre el input */
}


button[type="submit"] {
  border-color: #00DDE8;
  border-width: 1.5px;
  color: black;
  cursor: pointer;
  width: calc(100% - 30px);
  height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #ffffff;
  transition: color 0.3s ease;
}

button[type="submit"]:disabled,
button[type="submit"]:disabled:hover {
  opacity: 0.6;
}

button[type="submit"]:hover {
  color: #00DDE8;
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateY(-50px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.slide-in {
  animation: slideIn 1s ease forwards;
}

/* Animación para ocultar el formulario */
img {
  width: 30px;
  /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
  /* Mantiene la proporción de la imagen */
}

/* Estilos para mensajes de error */
.text-danger {
  color: #dc3545;
  /* Color rojo */
  font-size: 0.875rem;
  /* Tamaño de fuente más pequeño */
  margin-top: 0.25rem;
  /* Margen superior */
}

/* Estilos para resaltar campos inválidos */
input:invalid,
textarea:invalid {
  border-color: black;
  /* Color de borde rojo */
}

/* Opcional: Estilos para resaltar campos inválidos al enfocar */
input:focus:invalid,
textarea:focus:invalid {
  border-color: black;
  /* Cambiar el color de borde al enfocar */
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  /* Agregar una sombra al enfocar */
}

/* Estilos para el cuadro del título */
.title-box {
  background-color: #f0f0f0;
  /* Color de fondo del cuadro */
  padding: 20px;
  /* Espacio interno del cuadro */
  border-radius: 10px;
  /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra */
  margin-top: 70px;
  /* Espacio entre el título y el contenedor de incidencias */
}

/* Estilos para el título del historial de incidencias */
.incidencias-title {
  text-align: center;
  /* Centra el texto horizontalmente */
  margin: 0;
  /* Elimina el margen por defecto del título */
  font-size: 28px;
  /* Tamaño del texto */
  color: #333;
  /* Color del texto */
}

/* Contenedor principal de las incidencias */
.incidencias-container {
  display: flex;
  /* Utilizamos flexbox para controlar la disposición de los contenedores */
  flex-wrap: wrap;
  /* Permite que los contenedores se envuelvan si no caben en una sola fila */
  justify-content: flex-start;
  /* Alinea los contenedores a la izquierda */
}

/* Contenedor para cada incidencia */
.incidencia-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 50px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: calc(33.33% - 20px);
  /* Calculamos el ancho de cada contenedor para que queden 3 en una fila */
  margin-right: 20px;
  /* Añadimos un margen a la derecha para separar los contenedores */
}

/* Ajustamos los estilos para la imagen para mantener la proporción */
.incidencia-image {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}



/* Estilo para imágenes cargadas dinámicamente */
.dynamic-image {
  /* Ajusta el tamaño de la imagen según tus preferencias */
  width: 300px;
  /* Ancho */
  height: 300px;
  /* Altura ajustada automáticamente para mantener la proporción */
  /* Agrega otros estilos según sea necesario */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 68, 68, 0.5); /* Color de fondo con opacidad */
  z-index: 9999; /* Asegura que esté encima de otros elementos */
}
.centered-content{
  position:absolute;
  top: 300px;
  left: 630px;
}