
    <div class="hardware-box">
        <h1>Ticket Hardware</h1>
        <form action="#" name="hardware" method="post">
            <label for="nombre">Nombre</label>
            <br>
            <input type="text" id="nombre" name="nombre" required>
            <br>
            <label for="correo">Correo Electrónico</label>
            <br>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="asunto">Asunto</label>
            <br>
            <input type="text" id="asunto" name="asunto" required>
            <br>
            <label for="mensaje">Mensaje</label>
            <br>
            <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
            <br>
            <input type="button" value="Crear Ticket" onclick="enviarFormulario()">
        </form>
    </div>
