   

<div id="fondo" class="py-5">
  <div class="col">
      <!-- Utiliza solo la primera imagen de fondo -->
      <img id="foto" [src]="'../assets/imagenes/' + datos.images[0].image" class="img-fluid">

      <!-- Botón de login -->
      <a  class="login" routerLink="/login" *ngIf="!notLogged">
      <button id="botonCentrado" class="btn btn-primary">LOGIN</button>
      </a>  
  </div>
</div>


    <!-- 
    <div id="textaboutus" class="bg-light p-5">
      <form method="POST">
        <h1><b>ABOUT US</b></h1>
        <div>
          <div>
            {{ datos.aboutUsText }}
          </div>
        </div>
      </form>
    
    </div>
    
    <div id="textcontacto" class="bg-gradient-success">
      <form method="POST">
        <h1><b>CONTACT</b></h1>
        <div *ngFor="let campo of datos.camposFormularioContacto">
          <div>
            <input type="{{ campo.tipo }}" class="form-control mb-3" [placeholder]="campo.placeholder" [name]="campo.nombre">
          </div>
        </div>
    
        <input type="submit" value="Submit" class="btn btn-primary" name="botom">
      </form>
    </div> -->
    

    
    

    
    